button{
	width:60px;
}
#wrap{
	width: 800px;
	margin: auto;
}
#header{
	height:30px;
	border-bottom: 1px #bbb solid;
	margin-bottom: 20px;
}
#comment_container{
	background: #fef;
	border-top: 1px #bbb solid
}
.comment{
	height: 80px;
	line-height: 80px;
	border-bottom: 1px #bbb solid;
}
.name{
	margin-left: 80px;
	width:100px;
	font-weight:bold;
	float:left;
}
.contents{
	margin-left: 10px;
	width:300px;
	float:left;
}
.time_stamp{
	width:100px;
	float:right;
}
label {
	display: inline-block; 
	width: 100px; 
}
.form_wrap{
	width: 300px;
	margin: auto;
}
#btn_wrap{
	text-align: center;
	margin-top: 20px;
}
#message{
	width:300px;
	height: 150px;
}
#page_indicator{
	text-align: center;
	margin: auto;
	margin-top: 25px;
}
.page_number_item{
	display: inline-block;
	width: 25px;
	height: 25px;
	border: 1px #ccc solid;
	text-align: center;
	text-decoration: none;
	position: relative;
	padding: 5px 2px 0px 2px;
}
.active{
	text-emphasis: 1.5em;
	border: 1px #f22 solid;
	color: #f00;
}