<html lang="ko">
	<head>
		<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
		<title>Comment system</title>
		<link rel="stylesheet" type="text/css" href="style.css" />
	</head>
	<body>
		<div id="wrap">
			<div id="header">
				<span id="user_info">
				</span>
				<button id="write_comment_btn">글쓰기</button>
			</div>
			<div id="comment_container">
				<div class="comment">
					<div class="name">성의현</div>
					<div class="message">과제중...</div>
					<button class="recommand_btn">추천(0)</button>
					<button class="opposite_btn">반대(0)</button>
					<div class="time_stamp">12:12</div>
				</div>
			</div>
		</div>
	</body>
</html>